<template>
  <div>
    <h1>Products</h1>
    <Products-List
      :nbProductsEachPage="nbProductsEachPage"></Products-List>
    <Pagination
      :nbProductsEachPage="nbProductsEachPage"></Pagination>
  </div>
</template>

<script>
import ProductsList from '../Product-List'
import Pagination from '../Pagination'
import Bus from '../Bus'

export default {
  name: 'Products',
  components: {
    ProductsList,
    Pagination
  },
  data () {
    return {
      nbProductsEachPage: 10
    }
  },
  watch: {
    $route (to, from) {
      if (this.$route.query != null && this.$route.query.page != null) {
        Bus.$emit('PRODUCTS_PAGE_CHANGE', parseInt(this.$route.query.page))
      }
    }
  }
}
</script>
