<template>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler visible-md" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" v-on:click="closeNavbarCollapse" ref="navLink">
          <router-link :to="{path: '/'}" tag="a" class="nav-link"><v-icon name="home" aria-hidden="true"></v-icon> Home</router-link>
        </li>
        <li class="nav-item" v-on:click="closeNavbarCollapse" ref="navLink">
          <router-link :to="{path: '/products'}" tag="a" class="nav-link"><v-icon name="shopping-basket" aria-hidden="true"></v-icon> Products</router-link>
        </li>
        <li class="nav-item" v-on:click="closeNavbarCollapse" ref="navLink">
          <router-link :to="{path: '/about'}" tag="a" class="nav-link"><v-icon name="info" aria-hidden="true"></v-icon> About</router-link>
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <router-link :to="{path: '/'}" tag="a" class="navbar-brand mx-auto">Grocery</router-link>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link"><v-icon name="user" aria-hidden="true"></v-icon> Account</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'navbar',
  methods: {
    closeNavbarCollapse () {
      console.log(this.$refs.navLink.parentElement.parentElement)
    }
  }
}
</script>
