<template>
  <nav aria-label="Page navigation example" v-if="loading && pageCount>1">
    <paginate
      v-model="page"
      :page-count="pageCount"
      :page-range="3"
      :margin-pages="2"
      :click-handler="clickCallback"
      :prev-text="'Prev'"
      :next-text="'Next'"
      :container-class="'pagination justify-content-center'"
      :page-class="'page-item'"
      :page-link-class="'page-link'"
      :next-class="'page-item'"
      :next-link-class="'page-link'"
      :prev-class="'page-item'"
      :prev-link-class="'page-link'">
    </paginate>
  </nav>
</template>

<script>
import paginate from 'vuejs-paginate'
import Router from '../router/index.js'
import Bus from './Bus'

export default {
  name: 'Pagination',
  components: {
    paginate
  },
  props: {
    nbProductsEachPage: Int32Array
  },
  created () {
    let self = this
    self.getNumberOfProductsFromApi(self)
    Bus.$on('PRODUCTS_PAGE_CHANGE', function (page) {
      self.page = page
    })
  },
  methods: {
    clickCallback (pageNum) {
      Router.push({path: 'products', query: { page: pageNum }})
    },
    getNumberOfProductsFromApi (self) {
      fetch('/resources', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json'
        },
        body: JSON.stringify({query: '{products{id}}'})
      })
        .then(
          function (response) {
            response.json().then(function (data) {
              if (data['data'] == null) {
                console.log('Looks like there was a problem. error: ' +
                  data['errors'][0]['message'])
                return
              }
              self.pageCount = Math.ceil(data['data']['products'].length / self.nbProductsEachPage)
              self.loading = true
            })
          }
        )
        .catch(function (err) {
          console.log('Fetch Error :-S', err)
        })
    }
  },
  data () {
    return {
      loading: false,
      page: this.$route.query.page,
      pageCount: 1
    }
  }
}
</script>
