<template>
  <div class="container-fluid" id="main-container">
    <navbar></navbar>
    <router-view></router-view>
  </div>
</template>

<script>
import Navbar from './components/Navbar'

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style>
  #main-container {
    margin-top: 55px;
  }
</style>
